@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* ========================================
    レイアウト用
========================================= */

body {
    background: url(images/bg.png);
    border-top: 5px solid #345c39;
    font-family: "メイリオ",Meiryo;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 0 2px 7px rgba(83, 78, 61,0.3);
}

/* ========================================
    ヘッダー用
========================================= */

header {
    width: 960px;
    height: 49px;
    padding: 20px 0;
    position: relative;
}

header h1 {
    font-size: 12px;
    color: #555555;
    background: url(images/logo.png) no-repeat;
    padding-left: 51px;
    line-height: 1;
    height: 49px;
    float: left;
}

header span {
    font-size: 33px;
    color: #734339;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

header nav {
    float: right;
    margin-top:36px ;
}

header li {
    float: left;
    margin-left: 29px;
}

header li:hover {
    background: url(images/navbar.png) no-repeat center bottom;
    height: 36px;
    display: inline-block;

} 

header nav ul li a {
    font-size: 16px;
    color: #734339;
    font-weight: bold;
    text-decoration: none;
    height: 26px;
    display: inline-block;
}

header nav ul li:hover a {
    color: #345c39;
    border-bottom: 4px solid  #345c39;
}

.clear {
    clear: both;
}

#nav_tel {
    position: absolute;
    top: 0;
    right:0;

}

/* ========================================
    メイン画像用
========================================= */

#mainimage {
    width: 950px;
    height: 290px;
    margin: 20px 0px 20px 0px;
    border: 5px solid #fff;
}


/* ========================================
    コンテンツ（レフト）
========================================= */

#left {
    width: 555px;
    height: auto;
    background-color: #fff;
    margin-right: 20px;
    float: left;
    padding: 10px;
}

#left h2,
#left h3 {
    font-size: 17px;
    font-weight: bold;
    color: #734339;
    border-left: 5px solid #ba3009;
    padding-left: 10px;
}


#left ul {
    overflow-y: scroll;
    width: 555px;
    height: 145px;
}

#left li {
    font-size: 13px;
    font-weight: normal;
    color: #927e7a;
    border-bottom: 1px dotted #d0d0d0;
    line-height: 32px;
}

#left span {
    font-size: 12px;
    font-weight: normal;
    color: #b5b3b3;
    margin-right: 15px;
}

/* ========================================
    サイド（ライト）
========================================= */

#right {
    width: 365px;
    height: 198px;
    float: left;
}

#right li {
    line-height: 60px;
    margin-bottom: 20px;
}

#right a {
    width: 225px;
    height: 60px;
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: #734339;
    text-decoration: none;
    padding-left: 140px;
}

#contact {
    background: url(images/contact.jpg);
}

#blog {
    background: url(images/blog.jpg);
}

div.clear {
    clear: both;
}

/* ========================================
    フッター用
========================================= */

footer {
    width: 100%;
    height: 58px;
    background-color: #345c39;
    margin-top: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 58px;
}

/* ========================================
    メニュー一覧
========================================= */

#heading {
    background: url(images/title.jpg);
    width: 925px;
    height: 70px;
    border: 5px solid #fff;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: bold;
    color: #2f5734;
    padding-left: 23px;
    line-height: 70px;
}

dl {
    margin-top: 11px;
}

dt {
    font-size: 15px;
    font-weight: normal;
    color: #734339;
}

dd {
    font-size: 13px;
    font-weight: normal;
    color: #927e7a;
    margin-bottom: 20px;
    margin-left: 10px;
}

dd:last-child {
    margin-bottom: 0;
}

/* ========================================
    コンタクトページ
========================================= */

#contact_text {
    font-size: 12px;
    color: #927e7a;
    line-height: 18px;
    background-color: #ffefea;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_title {
    width: 131px;
    height: 32px;
    font-size: 15px;
    color: #734339;
    vertical-align: top;
}

td.form_title label {
	font-weight: bold;
}

.form_contents{
    font-size: 13px;
    color: #a6a6a6;
}

.form_contents label {
    margin-left: 4px; /* 左に5pxの余白を作る*/
    /* margin-right: 15px; チェックボックス間の余白も追加したい場合 */
}

#form_name,
#form_tel {
    width: 421px;
    height: 22px;
}

.form_time {
    width: 47px;
    height: 22px;
    margin-right: 5px;
   display: inline-block;
}

textarea {
    width: 421px;
    height: 83px;
    border: 1px solid #a6a6a6;
}

#submit {
    text-align: right;
}
#submit input {
    background-color: #325a37;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    width: 136px;
    height: 40px;
}

#submit input:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* =========================
   SP応急処置（スクショ用）
   ========================= */
@media (max-width: 768px) {

  /* 全体をスマホ幅に */
  #wrapper { width: 100%; margin: 0; }

  /* はみ出し防止 */
  img { max-width: 100%; height: auto; }

  /* ヘッダー：float解除＋高さ固定解除 */
  header {
    width: 100%;
    height: auto;
    padding: 16px;
  }
  header h1 { float: none; margin-bottom: 10px; }
  header nav { float: none; margin-top: 8px; }
  header li { float: none; margin: 0 0 6px 0; }
  #nav_tel { position: static; margin-top: 10px; }

  /* メイン画像：高さ固定が崩れの原因なので解除 */
  #mainimage {
    width: 100%;
    height: auto;
    border: 0;
    margin: 10px 0;
  }
  #mainimage img { display: block; width: 100%; height: auto; }

  /* 2カラム→1カラム */
  #left, #right {
    float: none;
    width: auto;
    margin: 0 12px 12px;
  }

  /* 新着情報の枠：横幅固定を解除 */
  #left ul { width: auto; }

  /* 右のボタン：幅100%っぽく */
  #right { height: auto; }
  #right a { width: auto; }

/* ★これを追加 */
#wrapper {
  width: auto;
  margin: 0;
}

header {
  width: auto;
}

body {
  min-width: 0;
}
}

/* ===== 提出用：SP応急処置（最後に貼る） ===== */
@media (max-width: 768px) {

  html, body { width: 100%; }
  body { overflow-x: hidden; }

  #wrapper { width: 100%; margin: 0; }

  header { width: 100%; height: auto; padding: 12px; box-sizing: border-box; }
  header h1 { float: none; height: auto; line-height: 1.2; }
  header nav { float: none; margin-top: 10px; }
  header li { float: none; margin: 0 0 8px 0; }
  #nav_tel { position: static; margin-top: 10px; }

  #mainimage { width: 100%; height: auto; border: 0; margin: 10px 0; }
  #mainimage img { width: 100%; height: auto; display: block; }

  #left, #right {
    float: none;
    width: auto;
    margin: 0 12px 12px;
    box-sizing: border-box;
  }

  #left ul { width: auto; }

  #right { height: auto; }
  #right a { width: auto; }
}
